

body{
    width: 95%;
    margin: 15px auto;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1f1f1f;
    background-image: "shsu_logo.webp";
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border: 3px solid #2f2f2f;
    background-color: rgba(255, 255, 255, 0.9);
}

nav {
    border-bottom: 3px solid #2f2f2f;
    background-color: rgba( 53, 72, 36, .95);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li { 
    border-right: none;
}

nav li :last-child{
    border-right: none;
}
nav a {
    display: block;
    padding: 16 px 28 px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
}
 nav a :hover {
    background-color: #657f4a;

 }
main{
    overflow: hidden;
  position: relative;
  min-height: 1000px;
  background-color: rgba(250, 245, 235, 0.92);
}

article{
    width: 75%;
    padding: 25px 30px;
    border-right: 3px solid  #2f2f2f;
}

aside {
      width: 20%;
  position: fixed;
  top: 120px;
  right: 4.5%;
  padding: 20px 15px;
  background-color: rgba(236, 227, 203, 0.95);
  border-left: 3px solid #2f2f2f;
  border-bottom: 3px solid #2f2f2f;
  border-top: 3px solid #2f2f2f;
}
h1 {
  margin-top: 0;
  font-size: 2.3rem;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.6rem;
  margin-top: 35px;
  border-bottom: 1px solid #777;
  padding-bottom: 6px;
}


p {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 22px;
}

p::first-letter {
  font-size: 2.3rem;
  font-weight: bold;
  font-style: italic;
}
.float-img {
  float: right;
  width: 260px;
  margin: 0 0 15px 20px;
  border: 3px solid #444;
  padding: 4px;
  background-color: white;
}
aside h3 {
  margin-top: 0;
  text-align: center;
  border-bottom: 2px solid #555;
  padding-bottom: 8px;
}

aside ul {
  list-style-type: square;
  padding-left: 22px;
  margin: 15px 0 0 0;
}
aside li {
  margin: 12px 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #999;
}

aside a {
  text-decoration: none;
  color: #2d3b18;
  font-weight: bold;
}

aside a:hover {
  text-decoration: underline;
}
