{
    box-sizing: border-box;
}

body{
    width: 95%;
    margin: 15px auto;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1f1f1f;
    background-image: "shsu_logo.webp";
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border: 3px solid #2f2f2f;
    background-color: rgba(255, 255, 255, 0.9);
}

nav {
    border-bottom: 3px solid #2f2f2f;
    background-color: rgba( 53, 72, 36, .95);
}

nav ul
