body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
     width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border:1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url ("images/shsu_logo.webp")
    background-position right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
a:hover, a:focus {
    font-style: italic;
    color: blueviolet;
}
header h1{
    font-size: 175%;
    color: midnightblue;
    text-indent: 30px; 
}
header h2 {
    font-size: 130%;
    color: cadetblue;
    text-indent: 30px;
}
header img{
    float: left;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0)
}
main{
    clear: left;
}
h3 {
    margin-top: 3em;
    font-size: 105%;
    border: 5px
    border-radius 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}
list {
    line-height: 1.5em;
}
footer p.copyright {
    text-align: center;   
     font-size: 80%;
}
html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%)
}
nav {
    margin: 1.5em 2em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 0.5em;
}
.contact {
    margin: 1.5em 2em 0em 2em;
    border: 5px dotted blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}
 img {
    margin-left: 2em;
 }   
