body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;

}
a:hover, a:focus {
    font-style: italic;
    color: blueviolet;
}
header h1{
    font-size: 175%
    color: maroon;
    text-indent: 30px; 
}
header h2 {
    font-size: 130%;
    color: cadetblue;
    text-indent: 30px;
}
