body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;

}
a:hover, a:focus {
    font-style: italic;
    color: blueviolet;
}
header h1{
    font-size: 175%;
    color: midnightblue;
    text-indent: 30px; 
}
header h2 {
    font-size: 130%;
    color: cadetblue;
    text-indent: 30px;
}
header img{
    float: left;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0)
}
main{
    clear: left;
}
h3 {
    margin-top: 3em;
    font-size: 105%;
}
list {
    line-height: 1.5em;
}
footer p.copyright {
    text-align: center;   
     font-size: 80%;
}