.top-nav{
 display: flex;
 width: fit-content;
 margin: 20px 0;
 justify-content: center;
}
.top-nav a {
    color: white;
    background: blue;
    padding: 15px 40px;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
}
.top-nav a:hover{
    background: darkblue;
}

article {
    width: 70%;
    float: left;
    padding: 20px;
}
