#nav_menu {
    width: 720px;
    margin: 0 auto;
}
#nav_menu ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    overflow: hidden;
 }
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a.current  {
     text-decoration: none; 
    }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 170px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { 
    border-right: none; 
}
#nav_menu ul li a.current { 
    color: yellow; 
}