html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%)
}
    body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
     width: 90%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border:1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url ("images/shsu_logo.webp");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-color: white;
}
a:hover, a:focus {
    font-style: italic;
    color: blueviolet;
    border: 3px blue;
    border-style: dotted style;
}
header h1{
    font-size: 175%;
    color: midnightblue;
    text-indent: 30px; 
}
header h2 {
    font-size: 130%;
    color: cadetblue;
    text-indent: 30px;
}
header img{
    float: left;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0)
}
article {
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted slategray;
    column-gap: 2em;
    margin-left: 2em;
}
article h3{
    column-span: all;
}
article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}